/*colors {
	turquoise#0b6c73
	pink#FF4055
	gray#363636
	lightblue#96D1D5
	lightgray#f6f6f6
}

/*header*/

body {
	background: #f6f6f6;
}

#container {
	width: 80%;
	margin: 0 10%;
}

nav > a:first-child > div {
	
	/*font-family: "Amatic SC", Arial, serif;*/
	/*font-family: 'Cabin Sketch', 'Times New Roman', 'serif';*/
	/*font-family: 'PT Serif', Times, serif;*/
	font-size: 2em;
	text-transform: uppercase;
	position: relative;
	top: 0;
}

nav div {
	font-family: 'Open Sans', 'Arial', 'sans-serif';
	display: inline-block;
	padding: 10px 20px;
	color: #f6f6f6;
	border-bottom: 20px solid #0b6c73;
	transition: border 0.3s ease;
	position: relative;
	top: 5px;
}

nav div:hover {
	border-bottom: 20px solid rgba(63, 147, 150, 1);
}

header {
	background: #0b6c73;
	padding: 40px 0 0;
	text-align: center;
	margin-bottom: 40px;
}

section#welcome {
/*	width: 70%;
	margin-right: 20%;
	margin-left: 10%;*/
	/*padding: 40px;*/
	/*font-size: 2em;*/
	/*border: 20px solid rgba(63, 147, 150, 1);*/
}

h1 {
	font-family: 'PT Serif', Times, serif;
	text-transform: uppercase;
	font-size: 2em;
	display: block;
	/*border: 20px solid rgba(63, 147, 150, 1);*/
	/*background: rgba(63, 147, 150, 1);*/
	margin: 20px 0;
	width: 200px;

}

img {
	width: 22.5%;
	margin: 1%;
	display: inline-block;
}


span.expand {
	display: inline-block;
	padding-right: 20px;
	/*font-weight: bold;*/
	font-size: 1.3em;
}

table td {
	padding: 10px;
	/*margin: 10px;*/
}